#whyWe {
    padding-top: 65px;
    background-image: url(../../assets/bannerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.we_aimed {
    color: var(--Gray-for-line, #C5CDE7);
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 41.6px */
    letter-spacing: -0.32px;
}

.WhyWeList li {
    color: var(--White, #FFF);
    /* font-family: Poppins; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

@media screen and (max-width:1024px) {
    .common_btn a {
        margin-bottom: 30px;
    }
}


@media (max-width:990px) {

    #whyWe {
        padding-top: 32px;
    }

    .common_btn a {
        margin-bottom: 0px;
    }

}