#whyWe {
    padding-top: 65px;
    background-image: url(../../assets/bannerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:990px) {

    #whyWe {
        padding-top: 32px;
    }

}