.dashbord_topbar {
    padding: 20px 40px 20px 30px;
    border-bottom: 1px solid var(--color_f1);
}

.dashbord_topbar .dashbord_topbar_button .filter_btn {
    padding: 10px 14px;
    border-radius: 8px;
    border: 2px solid var(--color_f1);
}

.dashbord_topbar .dashbord_topbar_button .add_btn {
    padding: 10px 14px;
    border-radius: 8px;
    border: 2px solid var(--color_fb);
}

.dashbord_topbar {
    position: fixed;
    width: inherit;
    background-color: white;
}

.dashbord_topbar {}