.dashbord_topbar {
    padding: 20px 40px 20px 30px;
    border-bottom: 1px solid var(--color_f1);
}

.dashbord_topbar .dashbord_topbar_button .filter_btn {
    padding: 10px 14px;
    border-radius: 8px;
    border: 2px solid var(--color_f1);
}

.dashbord_topbar .dashbord_topbar_button .add_btn {
    padding: 10px 14px;
    border-radius: 8px;
    border: 2px solid var(--color_fb);
}

.dashbord_topbar {
    position: fixed;
    width: inherit;
    background-color: white;
    z-index: 100000;
}


.job_title_mobile {
    text-align: center;
    margin-top: 30px;
}

.topbar_desk {
    display: block !important;
}

.topbar_mobile {
    display: none !important;
}

.mobile_topbar {
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: #FFF;
    box-shadow: 0px -8px 40px 0px rgba(0, 0, 0, 0.02);
}

.mobile_topbar {
    position: fixed;
    width: inherit;
    background-color: white;
    z-index: 100000;
    bottom: 0;
    left: 0;
    right: 0;


}

.dashbord_content {
    margin-bottom: 70px;
}

.mobile_topbar p {
    color: #A5B4CB;
    font-family: 'SF Pro Display',sans-serif;
    font-size: 11.378px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobileTopbar {
    display: none !important;
}

@media(max-width:1024px) {
    .deskTopbar {
        display: none;
    }

    .mobileTopbar {
        display: block !important;
    }
}

@media(max-width:768px) {

    /*   .deskTopbar {
        display: none;
    }

    .mobileTopbar {
        display: block !important;
    }
 */
    .dashbord_topbar .dashbord_topbar_button .add_btn {
        padding: 10px 14px;
        border-radius: 0px !important;
        border: none !important;
    }

    .dashbord_topbar {
        padding: 20px 40px 0px 30px;
        border-bottom: 0 !important;
        position: relative !important;
    }

    .dashbord_content {
        margin-top: 32px !important;
        padding-top: 0px !important;
    }

    .topbar_desk {
        display: none !important;
    }

    .topbar_mobile {
        display: block !important;
    }
}

/* filter_wrapper start */
.filter_wrapper {
    padding: 40px 40px 40px 40px !important;
    position: absolute;
    border-radius: 11px;
    background: #FFF;
    box-shadow: 5px 10px 50px -2px rgba(0, 0, 0, 0.15);
    max-width: 496px;
    width: 100%;
    right: 12.5%;
    top: 86%;
}

.css-1jqq78o-placeholder {
    color: #9CA3A9 !important;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.filter_blue_btn {
    padding: 11px 0 12px 0;
    border-radius: 5px;
    background: #0177FB;
    color: #FFF;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 132px;
    width: 100%;

}

.filter_btn1 {
    padding: 11px 0 12px 0;
    color: #9CA3A9;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    background: #FAFAFA;
    max-width: 132px;
    width: 100%;

}

.buttons1 {
    margin-bottom: 20px;
}

.filter_wrapper h2 {
    color: #141736;
    font-family: 'SF Pro Display',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.css-1u9des2-indicatorSeparator {
    display: none;
}

.css-13cymwt-control {
    height: 40px !important;
}

/* filter_wrapper end */