.player_overview {
    border-radius: 20px;
    /* border: 1px solid #DFE5F1; */
    background: #FFF;

    padding: 31px 17px 24px 30px;
}

.overview table .overview_table1 tr {
    --bs-table-bg: red !important;
}

.player_overview h4 {
    color: #141736;
    font-family: ' SF Pro Display' sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.overview table {
    border-collapse: initial;
    /* border-spacing: 0 20px; */
    margin-bottom: 0 !important;
}

.overview .table>:not(caption)>*>* {
    /* padding: 0.5rem 1.5rem; */
    background-color: transparent;
}

.overview td {
    border: solid 1px transparent;
    border-style: solid none;
    padding: 10px;
}

.overview td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.overview td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* .overview tr:hover {
    box-shadow: 3px 16px 50px -2px rgba(121, 120, 130, 0.15);
} */

.overview tr:hover td {
    /* border: 1px solid #0177FB; */
    border-style: solid none;
    box-shadow: none !important;
}

.overview tr:hover td:first-child {
    border-left-style: solid;
}

.overview tr:hover td:last-child {
    border-right-style: solid;
}

.overview_wrapper h1 {
    color: var(--dark-1-dark, #202020);
    font-feature-settings: 'clig' off, 'liga' off;

    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 21px;
}

.overview_wrapper {
    padding: 41px 46px !important;
    /* padding-top: 20px; */
    font-family: 'SF Pro Display', sans-serif;
    height: 82vh;
    margin-top: 80px;
    overflow-x: scroll;
}

.date p {
    color: #202020;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

.date h3 {
    color: #202020;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
}

/* job_offer_overrview_wrapper */
.job_offer_overrview_wrapper {
    border-radius: 20px;
    /* border: 1px solid #DFE5F1; */
    background: #FFF;
    padding: 32px 30px 23px;
}

.job_offer_overrview_wrapper img {
    height: 47px;
    width: 47px;
}

.job_offer_overrview_wrapper h5 {
    /* font-size: 14px !important; */
    color: #2B3674;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    letter-spacing: -0.32px;
}

.job_offer_overrview_wrapper p {
    /* font-size: 12px !important; */
    color: #A3AED0;
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
    letter-spacing: -0.24px;
}

.joboffer_ov_wrapper {
    padding: 11px 16px 13px 16px;
    margin-top: 10px;
    border-radius: 16px;
    background: var(--White, #FFF);
    box-shadow: 0px 8px 30px 0px rgba(165, 165, 165, 0.12);
}


.announcelist_wrapper1 {
    padding: 12px 16px 14px 20px;
    margin-bottom: 0;
    border-radius: 16px;
    background: var(--White, #FFF);
    box-shadow: 0px 7px 31.1px 0px rgba(165, 165, 165, 0.12);
}

.recruiment1 img {
    width: 14px;
    height: 14px;
}

.recruiment1 span {
    /* color: #546580;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; */
    color: #546580;
    font-family: "SF Pro Display", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recruiment1 p {
    /* color: #141736;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 7px; */
    color: #2B3674;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    letter-spacing: -0.32px;
    margin-bottom: 4px;

}

.job_offer_item_content {
    /* display: flex; */
    justify-content: space-between !important;
    width: 100%;
    padding-right: 15px;
    align-items: center;
}

.overview_wrapper a {
    color: var(--Blue-2, #0095FF);
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    text-decoration-line: underline;
}

.overview_wrapper h4 {
    margin-bottom: 2px;
    color: #2B3674;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    letter-spacing: -0.4px;
}

.observed_links a {
    color: var(--green, #05CD99);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none !important;
}

.message_overview_hr {
    background-color: #E8ECF5 !important;
    margin: 14px 0 !important;
}

.announcement_details_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* responsive */
@media (max-width:768px) {
    .overview_wrapper {
        margin: 20px !important;
    }

    .player_overview {
        padding: 0;
        border: none;
    }

    .overview_wrapper h1 {
        font-size: 18px;
        line-height: 20px;
    }

    .date h3 {
        font-size: 16px;
    }

    .date p {
        font-size: 12px;
    }

    .overview_wrapper h4 {
        font-size: 16px;
    }

    .overview_wrapper a {
        font-size: 14px;
    }

    .job_offer_overrview_wrapper {
        padding: 15px;
    }


    .announcement_details_wrapper {
        display: flex;
        flex-direction: column;
    }
}


/* updated css start */
.overView_date {
    color: var(--Dark-blue, #2B3674);
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-top: 33px;
    margin-bottom: 16px;
    text-align: end;
    width: 100%;
}


/* over_tm_wrapper */
.over_tm_wrapper .transfer_title {
    color: var(--Dark-blue, #2B3674);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.over_tm_wrapper .buttons_design {
    display: flex;
    gap: 15px;
    margin-bottom: 51px;
}

.over_tm_wrapper .buttons_design button {
    padding: 18px 20px;
    border-radius: 16px;
    background: var(--White, #FFF);
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--b3, #8593BC);
    text-align: center;
    font-family: "DM Sans", sans-serif !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;

}

/* over_tm_wrapper */

.players_table_head th {
    color: #A3AED0;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.28px;
    text-align: start;
    padding: 0 0 6px 9px !important;
}

.player_overview p {
    color: #2B3674;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 200% */
    letter-spacing: -0.24px;
}

table.table th,
table.table td {
    padding-top: 18px !important;
    padding-bottom: 0 !important;
}

.message_overview_header {
    border-radius: 20px 20px 0px 0px;
    background: #F6FFFD;
    padding: 25px 30px 9px;
}

.messages_list{
    padding: 21px 30px;
}