.pass_wrapper {
    padding: 22px 23px 32px 36px;
    background: #FFF;

    /* drop shadow */
    box-shadow: 3px 16px 50px -2px rgba(121, 120, 130, 0.15);
    max-width: 608px;
    margin: auto;

}

.form-group {
    /* padding-left: 2.375rem; */
    position: relative;
    margin-bottom: 24px;
}

.has-search .form-control-feedback {
    position: absolute;
    color: #aaa;
    left: 4%;
    top:39%;
}
.has-search .form-control-feedback1 {
    position: absolute;
    color: #aaa;
    left: 4%;
    top: 50%;
}

.has-search input {
    padding: 14px 50px;

}
.has-search p {
    color: var(--neutral-0450, rgba(108, 114, 117, 0.50));
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.14px;
    margin-top: 8px;

}

.has-search label {
    margin-bottom: 8px;
    color: #232627;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.28px;

}

.has-search input::placeholder {
    margin-left: 20px;

}