.pass_wrapper {
    padding: 40px 120px;
    background: #FFF;
    box-shadow: 3px 16px 50px -2px rgba(121, 120, 130, 0.15);
    max-width: 643px;
    margin: auto;

}

.password_img {
    margin-bottom: 30px;
}

.form-group {
    /* padding-left: 2.375rem; */
    position: relative;
    margin-bottom: 24px;
}

.has-search .form-control-feedback {
    position: absolute;
    /* color: #aaa; */
    left: 4%;
    top: 56%;
}

.has-search .form-control-feedback1 {
    position: absolute;
    left: 4%;
    top: 56%;
}

.has-search .form-control-password_eye {
    position: absolute;
    right: 20px;
    top: 56%;
    cursor: pointer;
}

.has-search input {
    padding: 14px 50px;
}

.has-search p {
    color: var(--neutral-0450, rgba(108, 114, 117, 0.50));
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.14px;
    margin-top: 8px;

}

.has-search label {
    margin-bottom: 8px;
    color: var(--Black, #1E2128);
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.has-search input {
    margin-top: 12px;
    border-radius: 5px;
    background: #F3F7FF;
    border: none;
}

.has-search input:focus {
    margin-top: 12px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #F3F7FF;
    border: none;
}

.cancel_btn {
    background-color: transparent;
    color: var(--b3, #8593BC);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.has-search input::placeholder {
    margin-left: 20px;
    color: var(--b3, #8593BC);
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pass_text h4 {
    color: var(--Black, #1E2128);
    font-family: "SF Pro Display", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 20px;
}

.pass_text p {
    color: var(--b3, #8593BC);
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 40px;
    /* 16.8px */
}