.login-left_bg {
    height: 100vh;
    overflow: hidden;
}

.input-container {
    padding-bottom: 1em;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 35px !important;
}

.left-inner-addon i {
    position: absolute;
    padding: 12px 12px;
    pointer-events: none;
}


.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 35px !important;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 38px 13px;
    pointer-events: none;
    font-size: 11.319px;
}

.left-and-right-inner-addon {
    position: relative;
}

.left-and-right-inner-addon input {
    padding-right: 35px !important;
    padding-left: 35px !important;
}

.left-and-right-inner-addon i.left {
    position: absolute;
    padding: 12px 12px;
    pointer-events: none;
}

.left-and-right-inner-addon i.right {
    position: absolute;
    right: 0px;
    padding: 12px 12px;
    pointer-events: none;
}


.right-inner-addon-b {
    position: relative;
}

.right-inner-addon-b input {
    padding-right: 35px !important;
}

.right-inner-addon-b i {
    position: absolute;
    right: 0px;
    padding: 9px 12px;
    pointer-events: none;
}

.login_input {
    width: 100%;
    padding: 9.903px 10.597px 9.778px 11.318px;

    margin: 0em !important;
    box-sizing: border-box;
    height: 31px !important;
}


.login_input::placeholder {
    color: #9CA3A9;
    /* font-family: SF Pro Display; */
    font-size: 8.489px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login_wrapper {
    padding: 50px;
    margin: auto;
    max-width: 450px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: #FFF;
    box-shadow: 24px 24px 65px 0px rgba(0, 0, 0, 0.02);

}

@media(max-width : 990px) {
    .login_wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.login_wrapper .login-btn {
    border-radius: 8px;
    background: #2D5BFF;
    color: #FFF;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    font-size: 11.3px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 218px;
    height: 36px;
    padding: 11px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
}

.login_wrapper h3 {
    color: #141736;
    text-align: center;
    /* font-family: SF Pro Display; */
    font-size: 19.8px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 8px;
}

.login_wrapper p {
    color: #A5B4CB !important;
    text-align: center !important;
    font-size: 11.3px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}

.login_wrapper label {
    margin-bottom: 9px;
    color: #161D24;
    font-size: 11.3px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.login_with_social {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    width: 218px;
    margin: auto;
    margin-bottom: 12px;
    /* padding: 11px 0px 11px 12px; */
    padding-left: 12px;
}

.login_with_social span {
    color: #000;
    /* font-family: SF Pro Display; */
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    height: 37px;

    align-items: center;
    flex-shrink: 0;
    margin-left: 6px;
}


#rfs-btn {
    font-size: 7px !important;
}

.ReactFlagsSelect-module_label__27pw9,
.ReactFlagsSelect-module_secondaryLabel__37t1D {
    font-size: 10px !important;
    padding-left: 6px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ReactFlagsSelect-module_selectFlag__2q5gC {
    font-size: 12px !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
    width: auto !important;
}


.function_btn:first-child {
    background: #2D5BFF !important;
    color: #fff;
    margin-left: 0 !important;
}


.function_btn {
    padding: 7.074px 10.682px 6.926px 11.318px;
    border-radius: 5px;
    border: 0.707px solid rgba(0, 0, 0, 0.02);
    background: rgba(0, 0, 0, 0.02);
    border: 0;
    color: #9CA3A9;
    /* font-family: SF Pro Display; */
    font-size: 8.489px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 12px;
}

.label_text {
    color: #161D24;
    /* font-family: SF Pro Display; */
    font-size: 11.3px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.select_date {
    /* padding: 6px; */
    height: 24px !important;
    border-radius: 5.659px;
    border: 0.707px solid rgba(0, 0, 0, 0.04);
    margin-right: 6px;
    font-size: 9px !important;



}

.row {
    padding-left: 0 !important;
    padding-right: 0 !important;
}