.login-left_bg {
  height: 100vh;
  overflow: hidden;
}

.login-left_bg_img {
  background-image: url(../../assets/login-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 0px 50px;
  /* padding: 0 19px; */
}

.input-container {
  padding-bottom: 30px;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon input {
  padding-left: 35px !important;
}

.left-inner-addon i {
  position: absolute;
  padding: 12px 12px;
  pointer-events: none;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 35px !important;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 48px 13px;
  pointer-events: none;
  /* font-size: 11.319px; */
}

.left-and-right-inner-addon {
  position: relative;
}

.left-and-right-inner-addon input {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.left-and-right-inner-addon i.left {
  position: absolute;
  padding: 12px 12px;
  pointer-events: none;
}

.left-and-right-inner-addon i.right {
  position: absolute;
  right: 0px;
  padding: 12px 12px;
  pointer-events: none;
}

.right-inner-addon-b {
  position: relative;
}

.right-inner-addon-b input {
  padding-right: 35px !important;
}

.right-inner-addon-b i {
  position: absolute;
  right: 0px;
  padding: 9px 12px;
  pointer-events: none;
}
.carousel-inner{
  border-radius: 0px 0px 0px 50px;
}
.login_input {
  width: 100%;
  padding: 9.903px 10.597px 9.778px 11.318px;
  margin: 0em !important;
  box-sizing: border-box;
  height: 50px !important;
  border-radius: 4px;
  border: 0.707px solid rgba(0, 0, 0, 0.02);
  background: #F3F7FF;
}
.passlock{
  position: absolute;
  top: 12px;
  left: 15px;
}
.login_select {
  border-radius: 4px;
  border: 0.707px solid rgba(0, 0, 0, 0.02);
}

.login_input::placeholder {
  color: var(--b3, #8593BC);
  font-family: "SF Pro Display", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
}

.login_wrapper {
  padding: 81px 87px 41px 94px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: var(--White, #FFF);
  box-shadow: 6px -2px 39.9px 4px rgba(86, 95, 104, 0.08);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login_slider .carousel-item {
  height: 228px !important;
  background: #00000058;
  border-radius: 0px 0px 0px 50px;
}

.login_slider .carousel-control-next,
.login_slider .carousel-control-prev {
  display: none;
}

.login_slider .carousel-indicators {
  margin-left: 0;
  margin-right: 0;
  gap: 16px;
  bottom: 40px !important;
}

.login_slider .carousel-indicators button {
  width: 10px !important;
}

.login_slider .carousel-indicators [data-bs-target] {
  border-radius: 100px;
  opacity: 1;
  height: 14px !important;
  width: 14px !important;
  border: none !important;
}

.login_slider .carousel-indicators .active {
  border-radius: 100px;
  background: #2D5BFF;
}

.login_slider .carousel-caption {
  left: 0;
  padding-left: 10px;
  width: 100%;
  padding: 30px;
  bottom: 72px;
}

.login_slider .carousel-caption p {
  color: #F4F7FE !important;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  opacity: 1 !important;
}

.login_slider {
  border-radius: 0px 0px 0px 50px;

  /* height: 300px; */

}

@media (max-width: 990px) {
  .login_wrapper {
    padding: 20px !important;
    margin-bottom: 50px;
  }
}

.login_wrapper .login-btn {
  border-radius: 8px;
  background: #0095FF;
  color: #fff;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 100%;
  padding: 16px 90px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  margin-top: 30px;
}

.login_wrapper h3 {
  color: #4C4E52;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 16px;
}

.login_wrapper p {
  color: #8593BC !important;
  text-align: center !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 45px;
}

.text-errors {
  color: red !important;
}

.login_wrapper label {
  color: var(--Black, #1E2128);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.login_with_social {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  width: 218px;
  margin: auto;
  margin-bottom: 12px;
  padding-left: 12px;
}

.login_with_social span {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  height: 37px;

  align-items: center;
  flex-shrink: 0;
  margin-left: 6px;
}

#rfs-btn {
  font-size: 7px !important;
}

.ReactFlagsSelect-module_label__27pw9,
.ReactFlagsSelect-module_secondaryLabel__37t1D {
  font-size: 10px !important;
  padding-left: 6px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ReactFlagsSelect-module_selectFlag__2q5gC {
  font-size: 12px !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  width: auto !important;
}

.function_btn:hover {
  background: #05CD99 !important;
  color: #fff;
  margin-left: 0 !important;
}

.function_btn {
  /* padding: 14px 20px 15px 20px; */
  width: 107px;
  height: 46px;
  border-radius: 5px;
  border: 0.707px solid rgba(0, 0, 0, 0.02);
  background: rgba(0, 0, 0, 0.02);
  border: 0;
  color: #9ca3a9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid var(--Gray-for-line, #C5CDE7);
  box-shadow: 4px 4px 10px 0px rgba(191, 191, 191, 0.25);
}

.label_text {
  color: #161d24;
  font-size: 11.3px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.select_date {
  height: 24px !important;
  border-radius: 5.659px;
  border: 0.707px solid rgba(0, 0, 0, 0.04);
  margin-right: 6px;
  font-size: 9px !important;
}

.line {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  width: 100%;
}

.home_page_link a{
  color: var(--Dark-blue, #2B3674);
font-family: "SF Pro Display";
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 30px;
}


@media screen and (max-width: 767px) {
  .login_wrapper {
    border: none;
    box-shadow: none;
  }

  .login_with_social,
  .login_wrapper .login-btn {
    width: 100%;
    text-align: center;
  }
}

.already_acnt_text {
  color: var(--Black-2, #4C4E52);
  font-family: "SF Pro Display";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px !important;
}

.already_acnt_text a {
  color: #0095FF;
}