.accordion .accordion_items {
    max-width: 920px;
    border-bottom: 1px solid #CECCD1;
    padding-bottom: 27px;
}

.accordion .container {
    max-width: 1140px;
}

.mobile_icons {
    display: none;
}

.more_btn {
    display: flex;
    width: 161px;
    height: 69px;
    padding: 0px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #F4F7FE;
    color: #8593BC;
    text-align: center;
    /* font-family: "DM Sans"; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
}

@media(max-width:1023px) {
    .accordion .accordion_items {
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        background: #FFF;

        padding: 16px;
    }

    .deshtop_icon {
        display: none !important;
    }

    .mobile_icons {
        display: block;
    }

    .mobile_icon {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}