/* What people say Start */

.sayHeader {
    margin-bottom: 70px;
}

.sayHeader p {
    color: #2D2D2D;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-size: 68px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: -2.046px;
    text-align: center;
}

.sayHeader span {
    color: #818181;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.455px;
}

.sayInnerBox.sayLeftbox {
    border: 40px solid #F17415;
    padding: 62px 54px;
}

.sayInnerBox.sayRightbox {
    border: 40px solid #0177FB !important;
    padding: 62px 54px;

}

.sayInnerBox .profoleImg {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.sayInnerBox p {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.sayInnerBox span {
    color: #717a89;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.sayInnerBox h5 {
    color: #2D2D2D;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: -0.606px;
}

.g_review span {
    color: #666;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.sayRightbox {
    position: relative;
}

.sayRightbox button {
    position: absolute;
    top: 40%;
    left: -57px;
    border: none;
    background: transparent;
}

/* What people say End */

.carousel-item {
    height: 600px;
}

.carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    width: unset;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    bottom: unset;
    opacity: 1;
}

.carousel-control-next-icon {
    background-image: url('../../assets/carousel-control.png') !important;
    filter: unset !important;
    width: 99.508px;
    height: 99.508px;

}


@media screen and (max-width:767px) {
    .sayInnerBox {
        padding: 31px 28px;
    }

    .sayInnerBox p {
        font-size: 11.191px;
        text-align: start;
        line-height: 16.787px;
    }

    .sayInnerBox span {
        font-size: 8.953px;
    }

    .sayInnerBox h5 {
        font-size: 15.855px;
        line-height: 21.549px;
        text-align: start;
    }

    .sayHeader span {
        color: #0A0119;
    }

    .carousel-item {
        height: 714px !important;
        font-size: 10px;
    }



    .carousel-control-next-icon {
        /* background-image: url('../../assets/carousel-control-sm.png') !important; */
        width: 61px;
        height: 61px;

    }

    .sayInnerBox.sayLeftbox,
    .sayInnerBox.sayRightbox {
        padding: 30px 28px;
    }

}