.playTxt {
    border-radius: 50px;
    padding: 21px 50px;
}

.playTxt span {
    color: #0A0119;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
    white-space: nowrap;
}

.middleLine {
    width: 30px;
    height: 5px;
    background-color: #0A0119;
}

.playTxt span::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #0A0119;
    position: absolute;
    top: 50%;
    left: 0;
}


.playTxt1 {
    border-radius: 50px;
    /* padding: 21px 50px; */
    padding: 9px 22px 9px 22px;

}

.playTxt1 span {
    color: #0A0119;
    text-align: center;
    font-size: 10px !important;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
    white-space: nowrap;
}

.middleLine1 {
    width: 30px;
    height: 5px;
    background-color: #0A0119;
}

.playTxt1 span::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #0A0119;
    position: absolute;
    top: 50%;
    left: 0;
}

.mobile_marquee {
    display: none;
}

@media (max-width:768px) {
    .desktop_marquee {
        display: none !important;
    }

    .mobile_marquee {
        display: block;
    }
}