.feature {
    color: #0A0119;
}

.feature .featureTop h2 {
    /* font-size: 62px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.62px; */
    color: var(--Dark-blue, #2B3674);
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.68px;
}

.feature .featureTop p {
    /* font-size: 20px;
    font-weight: 500;
    line-height: 160%; */
    color: var(--Black-2, #4C4E52);
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.feature .featureBottom h4 {

    color: var(--Dark-blue, #2B3674);
    /* font-family: 'Gilroy',sans-serif; */
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 13px;

}

.feature .featureBottom p {
    color: #0A0119;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 72px;
}

.feature .featureBoxInner {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 20px 0 0 50px;
    position: relative;
}

.feature .featureBoxInner img {
    /* max-height: 340px; */
    height: 100%;
}

@media (max-width: 990px) {

    .feature .featureBoxInner {
        padding: 26px 0 0 26px !important;
    }

    .feature_card {
        padding-right: 0px !important;
    }

    .feature .featureTop h2 {
        font-size: 24px !important;
        font-style: normal;
        font-weight: 700 !important;
        line-height: 30px !important;
        letter-spacing: -0.24px !important;
        width: 192px;
        margin: auto;
    }

    .feature .featureTop p {
        font-size: 10px !important;
        width: 257px;
        margin: auto;
    }

    .featureTop {
        text-align: center;
    }

    .feature_mobile {
        display: none !important;
    }

    .feature .featureBottom h4 {
        font-size: 17px !important;
    }

    .feature .featureBottom p {
        font-size: 9px !important;
        font-weight: 500 !important;
        line-height: 12px !important;
        margin-bottom: 40px !important;
    }

    .feature {
        padding: 0 50px !important;
    }

}