/* job header start */
.search_jobs {
  padding: 27px 37px;
  border-radius: 3px;
  background: #393f4f;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.search_jobs form {
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.search_jobs input {
  border-radius: 5px;
  border: 0.7px solid rgba(0, 0, 0, 0.02);
  background: #fff;
  display: inline-flex;
  height: 50px;
  padding: 17px 10px 16px 20px;
  /* width: 26%; */
  width: 310px;
  align-items: center;
}

.search_jobs input::placeholder {
  color: #747474;
  font-family: "SF Pro Display" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.jobsearchbtn {
  display: flex;
  width: 162px;
  height: 50px;
  padding: 17px 0px 16px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.7px solid rgba(0, 0, 0, 0.02);
  background: #3378ff;
  color: #fff;
  font-family: "SF Pro Display" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.page_header {
  padding: 107px 0 !important;
}

/* job header end */

.tennis_desc p {
  color: #141736;
  font-family: "SF Pro Display", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}

.tennis_desc small {
  color: #546580;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.jobs_details span {
  color: #546580;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.matchedJobs_wrapper {
  padding: 32px;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  background: #fff;
  margin-bottom: 30px;
}

.tennis_logo img {
  height: 80px;
  width: 80px;
}

.job_matches_title {
  color: #0a0119;
  font-family: "SF Pro Display-SemiBold" sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.32px;
  margin-top: 90px;
  margin-bottom: 40px;
}

.job_matches_title span {
  color: #0177fb;
}

.apply_btn {
  border-radius: 5px;
  border: 0.7px solid rgba(0, 0, 0, 0.02);
  background: #3378ff;
  padding: 14px 0px;
  width: 100%;
  color: #fff;
  font-family: "SF Pro Display" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 26px;
}

.apply_btn:disabled {
  border-radius: 5px;
  border: 0.7px solid rgba(0, 0, 0, 0.02);
  background: #6290ec;
  padding: 14px 0px;
  width: 100%;
  color: #fff;
  font-family: "SF Pro Display" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 26px;
  cursor: not-allowed !important;
}

.jobs_details {
  display: flex;
  gap: 40px;
  margin-top: 25px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .job_matches_title {
    text-align: center;
  }

  .tennis_logo img {
    width: 80px !important;
    height: 80px !important;
  }

  .matchedJobs_wrapper {
    padding: 25px;
  }

  .tennis_desc p {
    font-size: 24px;
  }

  .tennis_desc small {
    font-size: 16px;
  }

  .jobs_details {
    gap: 20px;
  }

  .search_jobs input {
    width: 100% !important;
  }

  .jobsearchbtn {
    margin: auto;
    width: 100%;
  }

  .modal-dialog .modal-content {
    padding: 10px !important;
  }

  .modal-dialog {
    margin: 20px !important;
  }
}

.pagination .page-item.active .page-link {
  border-radius: 4px;
  background: #0177fb;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 36px;
}

/* apply jobs modal */
.form_icons {
  position: absolute;
  left: 15px;
  top: 34px;
}

.apply_jobs_title {
  color: #161d24 !important;
  font-family: "SF Pro Display", sans-serif;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
}

.modal label {
  color: #161d24;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 110%;
  /* 17.6px */
  letter-spacing: -0.16px;
}

.border_color input {
  border: 1px solid #f0f0f0;
}

.modal input ::placeholder {
  color: #b1b1b1;
  font-family: "SF Pro Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.12px;
}

.apply_jobs_modal input {
  height: 44px;
  border: 1px solid #f0f0f0;
}

.css-1ltuaou-control {
  height: 50px !important;
}

.css-w9q2zk-Input2 {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.job_details {
  color: #546580;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin-top: 16px;
}

.job_details button {
  background-color: transparent;
  color: #0177fb;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.job_details_desc h4 {
  color: #141736;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 12px;
}

.job_details_desc p {
  color: #546580;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}



/* job offer new header start */
.job_header_wrapper {
  border-radius: 10px;
  background: var(--White, #FFF);
  box-shadow: 6px -2px 39.9px 4px rgba(86, 95, 104, 0.08);
  padding: 45px 70px;
  margin-top: 40px;
}

.search_input {
  border-radius: 60px;
  background: var(--White, #FFF);
  box-shadow: 6px 0px 40.8px 4px rgba(112, 144, 176, 0.08);
  margin: 0 361px;
  padding: 14px;

  margin-bottom: 60px;
}

.search_input .search_icon {
  position: absolute;
  top: 10px;
  left: 20px;
}

.search_input input {
  width: 100%;
  border-radius: 49px;
  background: var(--Light-blue, #F4F7FE);
  border: none;
  color: #8F9BBA;
  /* font-family: "DM Sans"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 13px 0;
  padding-left: 44px;
}

@media(max-width:768px) {

  .search_input {
    margin: 0;
  }
}

.job_header_wrapper .form-select {
  height: 63px;
  border-radius: 4px;
  --bs-form-select-bg-img: url('../../assets/selectDropdown.svg') !important;
  color: #8593BC;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
  border: none;
  padding:20px 28px;
}

.job_header_wrapper label {
  color: var(--Black-2, #4C4E52);
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checkbox_joboffer {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1.25px solid var(--b3, #8593BC);
}

.custom-dropdown {
  height: auto;
  border-radius: 4px;
  background: rgba(245, 245, 245, 0.7);
  color: #8593BC;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 28px;
  position: relative;

}

.custom-dropdown-content {

  display: flex;
}

.custom-dropdown {
  position: relative;
  display: flex;
  height: 63px;
  width: 100%;
  margin-top: 14px;
}

.select-value {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  cursor: pointer;
  width: 100% !important;
}

.options-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: rgba(245, 245, 245, 0.7);
  border-top: none;
  width: 100%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.option {
  padding: 10px 17px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #747474;
  font-family: "SF Pro Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.checkbox_custom {
  border-radius: 3px;
  border: 1.25px solid #5EA9FE;
  width: 14px;
  height: 14px;
  margin: 10px;
}


.active_checkbox {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3ECFF;
  border-radius: 5px;
}

/* job offer new header start */