/* page_header start */
:root {
    --color_19: #0A0119;
    --color_19_7: #0a01195e;
    --color_36: #141736;
    --color_cb: #A5B4CB;
    --color_f1: #DFE5F1;
    --color_fb: #0177FB;
    --color_80: #546580;
    --color_55: #2B2E55;
}

.page_header {
    background-image: url('/src/assets/announcementheaderbg.png') !important;
}


.announcelist_wrapper {
    border-radius: 16px;
    border: 1px solid #DFE5F1;
    background: #FFF;
    padding: 18px 48px 16px 16px;
    margin-bottom: 24px;
}
.editAnnouncement_wrapper{
    margin: 0 100px;

}
.blue_cat p {
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.announcelist_wrapper p {
    margin-bottom: 13px;
}

.announcement_details {
    margin-top: 12px;
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.recruiment p {
    color: #141736;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.recruiment span {
    color: #546580;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recruiment img {
    height: 22px !important;
    width: 22px !important;
}

.category_wrapper {
    border-radius: 7px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    margin-bottom: 30px;
}

.blue_cat {
    border-radius: 7px 7px 0px 0px;
    background: #0177FB;
    padding: 14px 0px 14px 20px;
}

.blue_cat p {
    color: #FFF;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blue_square {
    border-radius: 3px;
    border: 1.25px solid #5EA9FE;
    width: 14px;
    height: 14px;
}

.category_wrapper .white_category_part {
    padding: 20px 0 62px 20px;
}

.cat_list {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cat_list1 {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    color: #5EA9FE;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cat_list span {
    color: #747474;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blue_plus {
    border-radius: 3px;
    background: #5EA9FE;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best_matched {
    background-image: url('/src/assets/announcemenrightbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 86px 75px;
    border-radius: 7px;
    margin: auto;
    text-align: center;
}

.apply_now_btn {
    border-radius: 5px;
    border: 0.7px solid rgba(0, 0, 0, 0.02);
    background: #3378FF;
    padding: 14px 81px 14px 82px;
    color: #FFF;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: auto;
}

.best_matched h3 {
    color: #FFF;
    text-align: center;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.cat_list1 a {
    color: #5EA9FE;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

}

@media(max-width:768px) {
    .announcelist_wrapper {
        padding: 18px 10px 16px 16px;
    }

    .apply_now_btn {
        padding: 14px 40px 14px 40px;
    }

    .blue_cat p {
        font-size: 16px;
    }

    .cat_list span,
    .cat_list1 a {
        font-size: 14px;
    }
    .editAnnouncement_wrapper{
        margin: 10px;
    
    }
}

/* edit announcements */
.editAnnouncement_wrapper h3 {
    margin-top: 80px;
    color: #161D24;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
    margin-bottom: 16px;

}

.mb_56 {
    margin-bottom: 56px;
}


.status_buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.editAnnouncement_wrapper input,
textarea {
    padding: 20px;
    height: 59px;

}

.editAnnouncement_wrapper label {
    color: #000 !important;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.editAnnouncement_wrapper input::placeholder {
    color: #B1B1B1;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.status_buttons button:hover {
    background: #0177FB;
    color: white;
}

.input_budget {
    border-radius: 5px 0px 0px 5px;
    background: #0177FB;
    width: 102px;
    color: white;

    display: flex;
    justify-content: center;
}

.update_btn1 {
    padding: 20px 24px;
    border-radius: 5px;
    background: #0177FB;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 88px;
    max-width: 585px;
    width: 100%;
}

.status_buttons button {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    font-family: 'SF Pro Display', sans-serif;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 16px;

}

@media(max-width:768px) {

    .status_buttons button {
        padding: 10px 20px;
        font-size: 14px;
    }

}


.delete_modal {
    max-width: 379px;
    width: 100%;
    margin: auto;
    background: #FFF;
    /* display: flex; */
    /* justify-content: center; */
}

.modal-dialog .modal-content {

    border-radius: 12px;
    padding: 40px;
}

.no_btn,
.yes_btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 5px;
    background: #DADADA;
    color: #939393;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px !important;
}

.yes_btn {
    background: #0177FB !important;
    color: white !important;
}
.delete_body_btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 36px;
}