.select_date_design {
  border-radius: 5.659px;
  border: 0.707px solid rgba(0, 0, 0, 0.04);
  width: 43px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.074px 7.629px 6.926px 8.489px;
  gap: 3px;
}

.css-zbgb7f-singleValue {
  font-size: 16px !important;
}

.css-1xc3v61-indicatorContainer {
  padding: 13px !important;
}

.select_date_design small {
  color: #9ca3a9;
  font-size: 8.489px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login_input::placeholder {
  font-size: 14px !important;
}
.css-14i3obi-placeholder{
  font-size: 14px !important;

}
input {
  box-shadow: none;
}

.function_btn_active {
  background: #2d5bff !important;
  color: #fff;
  margin-left: 0 !important;

  padding: 7.074px 10.682px 6.926px 11.318px;
  border-radius: 5px;
  border: 0.707px solid rgba(0, 0, 0, 0.02);
  border: 0;
  font-size: 8.489px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 12px;
}

.year_input,
.month_input,
.day,
.react-datepicker-wrapper .react-datepicker__input-container input {
  background-image: url(../../assets/CaretDown.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.month_input .react-datepicker-wrapper .react-datepicker__input-container input {
  width: 60px;
}

.react-datepicker-wrapper .react-datepicker__input-container input {
  border-radius: 5.659px;
  border: 0.707px solid rgba(0, 0, 0, 0.04);
  width: 50px;
  font-size: 10px;
  padding: 7px 7px;
  color: #9ca3a9;
  cursor: pointer;
}

.react-datepicker-wrapper .react-datepicker__input-container input::placeholder {
  font-size: 10px;
}

.email_input .phone_number input {
  width: 100%;
  height: 37px;
  color: #9ca3a9;
  font-weight: 400;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.707px solid rgba(0, 0, 0, 0.02);
  background: rgba(0, 0, 0, 0.02);
  height: 45px ;
}

input {
  box-shadow: none !important;
  outline: none !important;
}

.login-left_bg {
  background-image: url(../../assets/sign-up.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login-left_bg h2 {
  color: #141736;
  font-size: 28px;
  font-weight: 500;
}

.login-left_bg p {
  color: #a5b4cb;
  font-size: 12px;
  font-weight: 400;
}

.css-11l6u31-control {
  border-radius: 5px;
  background: #fafafa;
  border: none !important;
}