.players .form-check {
    min-height: 0;
}

.players .table>tbody {
    vertical-align: middle !important;
}

.players_mobile {
    display: none !important;
}
.mobile_btns{
    display: none !important;
}
.table_hover:hover{
    border-radius: 10px !important;
    border: 1px solid #0177FB; 
    background: #FFF;
    transition: 0.3s;
}
@media(max-width:1024px) {
    .players_desk {
        display: none;
    }
    .players_mobile {
        display: block !important;
    }
    .mobile_btns{
        display: block !important;
    }
    
}

.players_wrapper {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: #FFF;
    box-shadow: 12px 12px 40px 0px rgba(0, 0, 0, 0.03);
    padding: 12px !important;
}

.location_div {
    padding: 0 24.44px !important;
    margin-top: 14px;
}

.location_div p {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filter_mb_btn {
    border-radius: 8px;
    background: rgba(45, 91, 255, 0.08);

    padding: 12px 24px;
}

.details_mob {
    padding: 12px 24px;

}