.jobOffer_btn {
    display: flex;
    padding: 12px 16px !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 5px;
    color: #B1B1B1;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addJob_wrapper .modal-dialog .modal-content {
    margin: auto !important;
}

.jobOfferModal {
    max-width: 648px !important;
    width: 100% !important;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

.modal_width .modal-dialog {
    max-width: 648px !important;
    overflow-y: hidden;
}

.modal_width1 .modal-dialog {
    max-width: 90% !important;
    overflow-y: hidden;
}

.modal_width .modal-dialog {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    height: unset !important;
    margin-top: 0 !important;
}

.modal_width1 .modal-dialog {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    height: unset !important;
    margin-top: 0 !important;
}

.active_position {
    background: #0177FB;
    color: #FFF;


}

.player_job_form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

.submit_now_btn {
    padding: 12px 24px;
    background: #0177FB;
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.modal label {
    text-align: left !important;
    display: flex !important;
    justify-content: start;
}

.add_job_offer .css-13cymwt-control {
    min-height: 44px !important;
    border: 1px solid #F0F0F0 !important;
}

.add_job_offer .css-13cymwt-control:focus {
    border: 1px solid #F0F0F0 !important;
}

.add_job_offer .form-control {
    height: 40px;
}

.add_job_offer .modal_title {
    color: #161D24;
    font-family: SF Pro Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.job_location_select .css-1g13apa-container {
    width: 100%;
    background-color: #FFFF !important;
}

.job_location_select .css-1ltuaou-control {
    min-height: 44px !important;
}

.add_job_offer_admin input {
    height: 44px !important;
}

.job_location_select .css-5tv4gf-control {
    min-height: 44px !important;
    border: 1px solid #F0F0F0 !important;
}

