.job_offers_wrapper .job_offers_topBtn {
  margin-bottom: 30px;
}

.job_offers_wrapper .job_offers_topBtn_left button {
  padding: 9px 16px;
  border-radius: 8px;
  border: 2px solid var(--color_f1);
  background-color: transparent;
}

.job_offers_wrapper .job_offer_items_wrapper .job_offers_item {
  /* border-radius: 16px; */
  /* border: 2px solid var(--color_f1); */
  /* background: #fff;
  margin-bottom: 24px;
  transition: all linear 0.2s; */
  border-radius: 16px;
  border: 1px solid var(--Light-blue, #F4F7FE);
  background: var(--White, #FFF);
  box-shadow: 0px 8px 30px 0px rgba(165, 165, 165, 0.12);
}

/* .job_offers_wrapper .job_offer_items_wrapper .job_offers_item:hover {
  border-radius: 16px;
  border-color: var(--color_fb);
  background: #fff;
  box-shadow: 3px 16px 50px -2px rgba(121, 120, 130, 0.15);
} */

.job_offers_wrapper {
  padding: 40px;
  border-radius: 20px;
  background: var(--White, #FFF);
margin: 0 40px;


}