/* Header Start */

.bgBanner {
    background-image: url("../../assets/bannerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0a0119;
}

.navbar {
    /* padding: 47px 0 11px 0; */
    padding: 20px;
    box-shadow: none;
}

.authBtn span,
.logIn:hover {
    color: #FFF;
}

.nav-link {
    padding: 0;
    font-size: 20px;
    color: #9d99a3 !important;
    text-align: center;
    font-weight: 500;
    line-height: 120%;
}

.navbar-nav {
    gap: 52px;
}

.nav-link:hover {
    color: #FFF;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #FFF !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler {
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    width: 32px;
    height: 32px;
    padding: unset;
    font-size: unset;

}



:focus-visible {
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.authBtn {
    background-image: url("../../assets/signinBtn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.login_modal_btn {
    background-image: url("../../assets/login-border.png") !important;
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: 100%;
    height: 60px !important;
}

.authBtn.btnNone {
    background-color: transparent;
    border: none;
    padding: 15px 35px;
    margin-left: 30px;
}

.login_modal_btn {
    background-color: transparent;
    border: none;
}

.authBtn span,
.logIn {
    background: transparent;
    border: none;
    /* padding: 15px 35px; */
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}

.login_modal_btn a {
    background: transparent;
    border: none;
    padding: 0px 68px;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}

.authBtn button:hover,
.logIn:hover {
    opacity: .9;
}


/* Header End */

@media screen and (max-width:767px) {

    .bgBanner {
        background-position: top right;
    }

    .navbar {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .navbar-nav {
        margin-top: 20px !important;
        gap: 20px
    }

    .nav-link {
        font-size: 15px;
    }

    .logIn,
    .authBtn a {
        font-size: 10.667px;
        padding: 27px;
    }

    .authBtn {
        background-image: url('../../assets/signupbgsm.png');
    }



}

.modal-body h2 {
    color: #333;
    text-align: center;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;
}

.modal-body h2 span {
    color: #0177FB;
}

.modal-body p {
    color: #000;
    text-align: center;
    font-family: ' SF Pro Display-Regular' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.modal-body {
    text-align: center;
}

.modal-dialog {
    max-width: 100%;
    margin: 100px;
    height: 1090px !important;
}

.modal-header {
    border-bottom: none;
}

.modal-body img {
    margin-top: 50px;
}

.modal_link {
    background-color: transparent;
    padding: 0;
    font-size: 20px;
    color: #9d99a3;
    text-align: center;
    font-weight: 500;
    line-height: 120%;
}

.profilename {
    color: #FFF;
    text-align: center;
    font-family: 'SF Pro Display-SemiBold' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
    text-transform: uppercase;
}

.profilename:hover {
    color: white;
}


/* .profile_dropdown {

} */

.profile_dropdown {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(7.5px);
    border: none;
    border-radius: 5px;
    position: absolute;
    /* right: 100px;
    top: 30px; */
    top: 13px;
    right: 0;
    padding: 10px 10px;
    width: 170px;
}

.profile_name {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-around;
    /* position: absolute; */
    /* border-bottom: 1px solid #9D99A3; */
}

.profile_name h5 {
    text-align: center;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 19.2px */
    text-transform: capitalize;
    color: #FFF !important;
}

.profile_name h5 a:hover {
    color: #FFF !important;

}

.profile_dropdown p {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 16.8px */
    text-transform: uppercase;
    padding: 8px;
    text-align: center;
    margin-top: 7px;
}

.profile_dropdown hr {
    border-bottom: 0.5px solid #D2D2D2;
}

.rotate_arrow {
    transform: rotate(180deg);
}

.profile_picture {
    margin-right: 186px;
}


@media(min-width:990px) and (max-width:1440px) {
    .profile_dropdown {
        /* display: none; */
        right: 0;
    }

    .profile_picture {
        margin-right: 135px;
    }
}

@media(max-width:375px) {
    .profile_dropdown {
        right: 25% !important;
    }
}

@media (min-width:320px) and (max-width:767px) {
    .profile_picture {
        margin-right: 0px;
    }

    .profile_dropdown {
        top: 83% !important;
        right: 35%;
    }

    .profile_drop_mobilepadding {
        padding-bottom: 50px !important;
    }

}

@media (min-width:768px) and (max-width:1023px) {
    .profile_dropdown {
        top: 87%;
        right: 38%;
    }

    .profile_picture {
        margin-right: 0;
        margin-top: 20px;
    }

    .profile_drop_mobilepadding {
        padding-bottom: 50px !important;
    }

    .market_filter_wrapper {
        width: 100%;
        padding: 20px;
    }

}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        align-items: center;
    }
}