/* Footer Start */

footer {
    background: url("../../assets/footerBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 0 30px 0;
    font-family: 'Inter', sans-serif !important;
}


footer p {
    color: #FFF;
    font-size: 26px;
    font-weight: 500;
}



footer ul li:first-child {
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

footer ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.72);
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px !important;
    transition: 0.4s ease-in-out;
}

footer ul li a:hover {
    color: #F5F3FA;
}

.followBox {
    white-space: nowrap;
    padding: 32px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.followBox a {
    width: 64.276px;
    height: 64.276px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer hr {
    margin-top: 50px;
    color: #0A0119;
}

.fooBottom a {
    color: rgba(255, 255, 255, 0.72);
    font-size: 21px;
    font-weight: 500;
}

.fooBottom a:hover {
    color: #FFF;
    text-decoration: underline;
}

.mobile_footer {
    display: none;
}

@media screen and (max-width:768px) {

    
    .mobile_footer {
        display: block;
    }

    .deskFooter {
        display: none;
    }
}

/* Footer End */