.dashobard_layout {
    font-family: 'SF Pro Display', sans-serif;
}

.dashobard_layout .dashbord_sidebar {
    background-color: #1E2128;
    position: fixed;
    width: inherit;
    top: 0;
    left: 0;
    padding: 30px;
    border-right: 2px solid #DFE5F1;
    height: 100vh;
    color: #E3E3E3;
}

.dashobard_layout .dashbord_content {
    padding-top: 40px;
    margin-top: 90px;
    background-color: #F8F8F8;
    /* height: auto; */
}