@import url('https://fonts.cdnfonts.com/css/SF Pro Display:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/* How it works section font family did not add i didn't get cdn */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Display', sans-serif !important;
}

.btn {
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.tr {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.accordion_items {
  cursor: pointer;
}
ul {
  padding: 0;
}

ul li {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button{
  cursor: pointer;
}

:root {
  --color_19: #0A0119;
  --color_19_7: #0a01195e;
  --color_36: #141736;
  --color_cb: #A5B4CB;
  --color_f1: #DFE5F1;
  --color_fb: #0177FB;
  --color_80: #546580;
  --color_55: #2B2E55;
}

.container {
  max-width: 1720px;
}

.Work_container {
  max-width: 1472px;
}

.say_container {
  max-width: 1320px;
}


.mb_30 {
  margin-bottom: 30px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_150 {
  margin-top: 150px;
}


.mb_40 {
  margin-bottom: 35px;
}

.mb_60 {
  margin-bottom: 55px;
}

.all_mb {
  margin-bottom: 130px;
}

.mb_40 {
  margin-bottom: 35px;
}

.mb_150 {
  margin-bottom: 150px;
}

.mb_60 {
  margin-bottom: 55px;
}

.fs_10 {
  font-size: 10px;
  font-weight: 400;
}

.fs_14 {
  font-size: 14px;
  line-height: 16px;
}

.fs_16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.fs_20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fs_28 {
  font-size: 28px;
  font-weight: 500;
}

.fs_32 {
  font-size: 32px;
  line-height: 42px;
}

.fs_40 {
  font-size: 40px;
  font-weight: 700;
}

.fs_62 {
  font-size: 62px;
  line-height: 72px;
}

.fs_82 {
  font-size: 82px;
  line-height: 92px;
}


.fs_18 {
  font-size: 18px;
  font-weight: 500;
}

.fs_15 {
  font-size: 15px;
  font-weight: 400;
}

.fs_17 {
  font-size: 17px;
  font-weight: 400;
}


/* gap */
.gap_11 {
  gap: 11px;

}

.gap_14 {
  gap: 14px;

}

.gap_19 {
  gap: 19px;

}

.gap_4 {
  gap: 4px;

}

/* gap */







button {
  border: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.f_SF Pro Display {
  font-family: 'SF Pro Display', sans-serif;
}

.f_sfPro {
  font-family: 'SF Pro Display', sans-serif;

}

.text_color_19 {
  color: var(--color_19);
}

.text_color_19_7 {
  color: var(--color_19_7);
}

.text_color_36 {
  color: var(--color_36);
}

.text_color_cb {
  color: var(--color_cb);
}

.text_color_f1 {
  color: var(--color_f1);
}

.text_color_80 {
  color: var(--color_80);

}

.text_color_55 {
  color: var(--color_55);
}

.bg_color_fb {
  background-color: var(--color_fb);
}

.text_color_fb {
  color: var(--color_fb);
}

.section_padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_heading {
  margin-bottom: 80px;
}

.common_btn a {
  display: inline-block;
  padding: 25px 54px;
  border-radius: 60px;
  background: #3378FF;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}

.common_btn a:hover {
  opacity: 0.9;
}

@media (max-width:990px) {
  .trustContent {
    font-size: 16px !important;
    margin-bottom: 34px !important;
  }

  .section_padding {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .section_heading {
    margin-bottom: 32px;
  }

  .nav_form_small {
    margin-top: 30px !important;
  }

  .right_content_wrapper {
    padding-bottom: 50px !important;
  }

  .fs_82 {
    font-size: 60px !important;
    line-height: 70px;
  }

  .right_content_wrapper {
    /* margin-top: 30px; */
    text-align: center;
  }

  .star_design {
    margin: 7px;
  }

  .carousel-item {
    height: 1250px !important;
  }

  /* banner */
  .banner .bannerContent span {
    font-size: 8.5px !important;
    padding: 6px 19px !important;
  }

  .banner .bannerContent {
    text-align: center;
  }

  .banner .bannerContent {
    padding-top: 40px !important;
  }

  .banner .bannerContent h1 {
    font-size: 36px !important;
  }

  .banner-right-image {
    margin-top: 50px !important;
  }

  .banner .bannerContent p {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .banner .bannerContent a {
    padding: 10px 16px !important;
    font-size: 9px !important;
    line-height: 17px !important;
  }

  /* banner */



  /* work */
  .workBg h3 {
    font-size: 24px !important;
  }

  .workBg .tabOutter button {
    font-size: 13px !important;
    padding: 11px 35px !important;
  }

  .workBg .local p {
    font-size: 16px !important;
    line-height: 23px !important;
  }

  .workBg .local button {
    font-size: 11px !important;
    padding: 7px 11px !important;
  }

  .workBg .innerWhiteBox {
    padding: 17px 15px !important;
  }

  .Work_container {
    width: 100% !important;
  }

  .workBg .tabOutter {
    width: 100% !important;
  }

  .workBg .playerBox p {
    font-size: 12px !important;
  }

  .img1 {
    width: 82px !important;
    height: 41px !important;
  }

  .img2 {
    width: 72.249px !important;
    height: 72.992px !important;
  }

  .img3 {
    width: 83px !important;
    height: 41px !important;
  }

  .local {
    align-items: start !important;
  }

  .workBg .playerBox span,
  .workBg .detailBox span {
    font-size: 8px !important;
    padding: 4px 6px !important;

  }

  .workBg .detailBox p {
    font-size: 8px !important;
    padding: 5px 10px !important;
  }

  .numTag {
    width: 33px !important;
    height: 33px !important;
  }

  .numTag p {
    font-size: 15px !important;
  }

  .workBg .connect p {
    font-size: 14px !important;
  }

  .workBg .connect span {
    font-size: 11px !important;
    line-height: 14px !important;

  }

  .mobile_numtag {
    align-items: start !important;
  }

  .workBg .leftBlueBox button {
    font-size: 11px !important;
  }

  .workBg .leftBlueBox button img {
    width: 13px;
    height: 13px;
  }

  .workBg .leftBlueBox {
    padding-top: 21px !important;
    padding-left: 33px !important;
    padding-right: 21px !important;
    padding-bottom: 21px !important;
  }

  /* sign up */
  .workBg .howWorkRight p {
    font-size: 15px !important;
  }

  .workBg .howWorkRight span {
    font-size: 11px !important;
    line-height: 17px !important;
  }

  .workBg .howWorkRight {
    padding: 24px 20px !important;
  }

  .workBg .howWorkRight form {
    padding: 25px !important;
  }

  .workBg .howWorkRight form .txtInput label {
    font-size: 11px !important;
  }

  .workBg .howWorkRight form .txtInput input {
    padding: 0 !important;
    width: 100% !important;
    height: 24px !important;
  }

  .playOption label {
    font-size: 9px !important;
  }

  .playOption label::after {
    width: 9px !important;
    height: 9px !important;
  }

  .playOption label::before {
    width: 11px !important;
    height: 11px !important;
  }

  .workBg {
    padding-bottom: 32px !important;
  }

  .workBg .tabOutter {
    margin-bottom: 32px !important;
  }

  .workBg h3 {
    margin-bottom: 37px !important;
    line-height: normal !important;
  }

  /* sign up */
  /* what people say */
  .sayHeader p {
    font-size: 24px !important;
    line-height: 30px !important;
    letter-spacing: -0.24px !important;
  }

  .sayHeader span {
    font-size: 10px !important;
    line-height: 160% !important;
  }

  .sayHeader {
    margin-bottom: 24px !important;
  }

  .trustContent {
    font-size: 16px;
    line-height: 21.365px;
  }

  .trust_img {
    width: 92px !important;
    height: 25px !important;
  }

  .trustContent_mobile {
    justify-content: center !important;
    gap: 30px !important;
    flex-wrap: wrap !important;
  }

  /* what people say */
  /* why we */
  .why_we_mobile {
    flex-direction: column-reverse;
  }

  .top_content h1 {
    font-size: 36px !important;
    line-height: 46px !important;
    margin-bottom: 0 !important;
    max-width: 300px;
    text-align: center;
    margin: auto;
  }

  .top_content p {
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 24px;
  }

  .top_content {
    margin-bottom: 10px !important;
  }

  .common_btn a {
    padding: 10px 16px !important;
    font-size: 9px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 17px !important;
    text-transform: uppercase !important;
  }

  .WhyWeList li {
    font-size: 10px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
  }

  /* why we */
  /* faq section */
  .section_heading h2 {
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 30px !important;
  }

  .question {
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    margin-bottom: 8px;
  }

  .answer {
    font-size: 11px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 19px !important;
  }

  /* .mobile_icon {
    height: 30px !important;
    width: 30px !important;
  } */

  /* faq section */


  /* footer */

  footer {
    background: url("../src/assets/mobile_footer_bg.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 30px 0 !important;
  }

  footer p {
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }

  .fooBottom a {
    font-size: 11px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }

  footer ul li:first-child {
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
  }

  footer ul li a {
    font-size: 11px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }

  .followBox {
    padding: 17px !important;
  }

  .followBox a {
    height: 34px !important;
    width: 34px !important;
  }

  .followBox a img {
    height: 18px;
    width: 18px;
  }
}

/* .job_offers_wrapper{
  padding: 40px;
} */
@media(max-width:1024px) {
  .dashbord_sidebar {
    display: none !important;
  }

  .mobileTopbar {
    display: block !important;
  }
}

@media(max-width:768px) {
  .all_mb {
    margin-bottom: 64px;
  }

  .text_color_80 {
    font-size: 10px !important;

  }

  .p-3 {
    padding: 12px !important;
  }

  .job_offer_item_img img {
    width: 57px !important;
    height: 57px !important;
  }

  .right {
    width: 17px !important;
    height: 16px !important;
  }

  .job_offerItem_address img {
    width: 15px !important;
    height: 15px !important;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px !important;
  max-width: 285px;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider_bg {
  background: #04012F;
  padding: 83px 0 40px 0;
  /* color: white  ; */
  margin-bottom: 130px;
}

.sayInnerBox {
  background-color: #fff;
}

.gold_btn {
  border-radius: 100px;
  border: 1px solid #141736;
  display: inline-flex;
  padding: 8px 24px;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  height: 32px;
  color: #141736;
  font-family: 'SF Pro Display' sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.gold_btn img {
  width: 14px;
  height: 16px;
}