@import url('https://fonts.cdnfonts.com/css/gilroy:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

/* How it works section font family did not add i didn't get cdn */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  /* list-style: none; */
  padding: 0;
}

ul li {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1720px;
}

/* .Work_container {
  max-width: 1472px;
}

.say_container {
  max-width: 1320px;
} */

.mb_40 {
  margin-bottom: 35px;
}

.mb_60 {
  margin-bottom: 55px;
}

.all_mb {
  margin-bottom: 130px;
}

.fs_32 {
  font-size: 32px;
  line-height: 42px;
}

.fs_82 {
  font-size: 82px;
  line-height: 92px;
}

.f_gilroy {
  font-family: 'Gilroy', sans-serif;
}

.section_padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.common_btn a {
  display: inline-block;
  padding: 25px 54px;
  border-radius: 60px;
  background: #3378FF;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}

.common_btn a:hover {
  opacity: 0.9;
}