@media only screen and (max-width:1024px) {
    .navbar-nav {
        gap: 20px;
    }

    .banner .bannerContent {
        padding-top: 130px;
    }

    .banner .bannerContent h1 {
        font-size: 45px;
    }

    .followBox {
        padding: 20px;
    }

    .workBg h3 {
        font-size: 65px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {



    .navbar-nav {
        gap: 20px;
        margin-top: 30px;
    }

    .all_mb {
        margin-bottom: 60px;
    }

    .mb_60 {
        margin-bottom: 35px;
    }

    .banner .bannerContent {
        padding-top: 60px;
    }

    .banner .bannerContent span {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .workBg h3 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .banner .bannerContent p {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .banner .bannerContent a {
        font-size: 20px;
        padding: 15px 30px;
    }

    .feature .featureTop h2 {
        font-size: 38px;
    }

    .feature .featureTop p {
        font-size: 18px;
    }

    .feature .featureBoxStart,
    .feature .featureBoxMiddle,
    .feature .featureBoxEnd {
        padding: 15px 0 0 15px;

    }

    .feature .featureBottom h4,
    footer ul li:first-child,
    footer p {
        font-size: 20px;
    }

    .feature .featureBottom p,
    footer ul li a,
    .fooBottom a {
        font-size: 14px;
    }

    .workBg {
        padding: 60px 0 100px 0;
    }



    .workBg .tabOutter button {
        padding: 15px 34px;
        font-size: 18px;
    }

    .workBg .local p {
        font-size: 25px;
    }

    .workBg .leftBlueBox {
        padding: 30px 40px;
    }

    .workBg .connect p,
    .numTag p,
    .workBg .howWorkRight form p,
    .sayInnerBox h5 {
        font-size: 20px;
    }

    .workBg .connect span,
    .workBg .howWorkRight span,
    .sayHeader span {
        font-size: 18px;
    }

    .workBg .howWorkRight p {
        font-size: 28px;
    }

    .workBg .howWorkRight form .txtInput label {
        font-size: 16px;
    }

    .numTag {
        width: 50px;
        height: 50px;
    }

    .sayHeader p {
        font-size: 50px;
        line-height: 1.5;
    }

    .trustContent {
        font-size: 25px;
    }

    footer hr {
        margin-top: 20px;
    }

}

@media only screen and (max-width:600px) {
    .sayRightbox button {
        top: -100px;
        left: 30%;
    }
}

@media only screen and (max-width:425px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {
    .banner .bannerContent span {
        font-size: 10px;
        line-height: 20px;
    }
}