.page_header2 {
    background-image: url('/src/assets/transferbg.png') !important;
}

.page_header2 {
    background-image: url('/src/assets/pricingbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 152px 0;
}

.page_header2 h2 {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
    font-family: 'SF Pro Display', sans-serif;

}

.page_header2 h2 span {
    color: var(--color_fb);
}

.page_header2 p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.tabOutter1 {
    display: flex;
    padding: 3px;
    align-items: flex-start;
    border-radius: 60px;
    background: #EFF4FF;
    max-width: fit-content;
    margin-bottom: 60px;
}

.tabOutter1 .btnActive {
    display: flex;
    padding: 15px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    background: #0177FB;
    color: #FFF;
}

.tabOutter1 button {
    color: #2B2E55;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    padding: 15px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    background: #EFF4FF;
}

/* compact section start */
.compact_table_bg {
    background: red !important;
}

.compact_wrapper {
    padding: 54px;
    background: #FFF;
    box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.05), 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
    padding: 54px;
    /* margin-left: 76px;
    margin-right: 76px; */
}

.col1_wrapper h4 {
    color: #000;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 25px;

}

.col1_wrapper {
    text-align: start;
}

.col1_wrapper p {
    color: #000;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.div_design {
    display: flex;
    gap: 211px;
    background-color: #F4F7FB;
    padding: 13px 24px;
    align-items: center;
}

.div_design2 {
    display: flex;
    gap: 211px;
    background: #E0E8F1;
    padding: 13px 24px;
    align-items: center;
    flex-wrap: wrap;
}

.postmouth_text {
    color: #141736;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
}

.age_text {
    color: #000;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* compact section end */

/* gallary start */
.gallary_header p {
    color: #141736;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.gallary_header {
    display: flex;
    gap: 54px;
    align-items: center;
    margin-bottom: 9px;
}

.progress {
    height: 12px;
}

.progress,
.progress-stacked {
    --bs-progress-bar-bg: #0177FB !important;
    border-radius: 0 !important;
}

/* gallary end */
@media(max-width:990px) {
    .tabOutter1 button {
        font-size: 13px !important;
        padding: 11px 20px !important;
    }

    /* compact */
    .col1_wrapper h4 {
        font-size: 16px;
    }

    .compact_wrapper {
        padding: 16px;
    }

    .div_design {
        width: 100%;
        gap: 20px;
    }



}



.detailed_header p {
    color: #000;
    text-align: center;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.d_col_wrapper h4 {
    font-size: 20px !important;
    margin-bottom: 9px;
}

.profile_image11 {
    width: 60px;
    height: 60px;
}

@media(max-width:1024px) {
    .compact_wrapper {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .detailed {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    /* detailed */
    .detailed_header p {
        font-size: 16px !important;
    }

    .d_col_wrapper h4 {
        font-size: 14px !important;
    }

    .col1_wrapper p {
        font-size: 12px !important;
    }

    .postmouth_text,
    .age_text {

        font-size: 14px !important;
    }

    .detailed_wrapper {
        overflow: scroll !important;
        width: 100%;
    }

}

/* detailed start */
.detailed table>thead {
    --bs-table-bg: #E1EFFF !important;
    padding: 46px 60px 46px 34px !important;
}

.detailed table.table th {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 34px;

}

.detailed .table td {
    padding: 22px;
}

.table>tbody {
    vertical-align: middle;
}

.table tr {
    margin-bottom: 10px;
}

.detailed table {
    border-collapse: separate;
    border-spacing: 0 28px;
}

.detailed table {
    --bs-table-border-color: transparent;
    --bs-table-bg: none;

}


.detailed table tr:nth-child(even) {
    background-color: #E0E8F1 !important;
}

.detailed table tr:nth-child(odd) {
    background-color: #F4F7FB !important;
}

.detailed table.table th {
    font-size: 24px;
    color: #000;
    text-align: left;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 28px !important;
}


.detailed .table>:not(caption)>*>* {
    border-bottom-width: 0 !important;
}

@media(max-width:1440px) {

    .detailed table.table th {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

    }

    .detailed .table td {
        padding: 22px;
    }

    .detailed table.table th {
        font-size: 16px;
    }

    .filter_img {
        height: 21px;
    }
}

/* detailed end */

.transfer_link {
    background-color: #F3F3F3;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.details_wrapper {
    margin-top: 43px;
    margin-bottom: 72px;
}

.details_wrapper h3 {
    color: #0A0119;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 137.5% */
}